body {
    font-family: sans-serif;
}

header {
    text-align: center;
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 2px;
    margin: 20px;
}

h1 {
    text-align: center;
    color: blue;
}

footer p {
       background-color: #7fff00;
}

nav a {
    margin: 20px;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 6px;
}

.price {
    background-color: white;
    color:blue;
    border:1px solid black;
}

.shop {
    background-color: orange;
    padding:19px
}

h2 {
    color:blue;
}

main a {
    border:2px solid darkblue;
    padding:6px;
}
